body {
  font-family: cursive;
  background-image: url(https://niuartplusmedia.files.wordpress.com/2014/11/boombox-done.gif);
  background-size: cover;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

.site{
  display: inline block;
  font-family: 'Arial Black', cursive;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
}

.controls {
  flex: 1;
  padding: 10px;
}

label {
  color: purple;
  font-family: cursive;
  font-size: 200%;
  text-shadow: 2px 4px black;

}

h1 {
  text-align: center;
  color: purple;
  font-family: cursive;
  font-size: 500%;
  text-shadow: 7px 4px black;
}


.submit:hover{
  background-color:purple;
  
}

#results{
background-color: black;
color: yellow;
padding-top: 0px;
padding-bottom: 0px;
padding-right: 20%;
padding-left: 20%;
border-top: 4px purple;
border-bottom: 4px aqua;
border-left: pink;
border-right: green;
border-style: dotted;
border-width: 5px;

}

 